[Unit]
Description=social media fastapi application
After=network.target

[Service]
User=anchit
Group=anchit
WorkingDirectory=/home/anchit/app/src/
Environment="PATH=/home/anchit/app/venv/bin"
EnvironmentFile=/home/anchit/.env
ExecStart=/home/anchit/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
